server:
  port: 8080

spring:
  application:
    name: GATEWAY
  cloud:
    gateway:
      routes:
        - id: user-service-route
          uri: lb://USERSERVICE
          predicates:
            - Path=/users/**
          filters:
            - StripPrefix=1

        - id: builder-service-route
          uri: lb://BUILDERSERVICE
          predicates:
            - Path=/builder/**
          filters:
            - StripPrefix=1

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
  instance:
    appname: GATEWAY
